*{
font-family: "helvetica";
margin: 0px;
}

main{

	margin: 20px;

}


#upperNav{

	background-color: black;
	padding: 10px;
	color: white;
}

#lowerNav

{

	background-color: black;
	padding: 10px;
	color: white;
}
p{
	color: gray;
}
section{

padding: 20px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px	solid;
  border-right: 1px	solid;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

input{

	margin: 5px;
}